p,
span {
  font-size: 1.6rem;
}

.App-container {
  margin: 5rem auto;
  padding: 5rem;
  max-width: 80rem;
  background-color: #fdfdfd;
  border-radius: 1.6rem;
  box-shadow: 0 3rem 5rem #eac8a6;
}

.App-heading-1 {
  font-size: 4rem;
  text-align: center;
}

.App-footer p {
  text-align: center;
  font-size: 1.2rem;
  color: #696969;
}

.App-footer a,
.App-footer a:link,
.App-footer a:visited,
.App-footer a:active {
  color: #3d74b6;
  text-decoration: none;
  font-weight: 600;
}

.App-footer a:hover {
  color: #dc3c22;
}

@media (max-width: 630px) {
  .App {
    padding: 5rem 2rem;
  }
  p,
  span {
    font-size: 1.4rem;
  }
}
