.App {
  margin: 5rem auto;
  padding: 5rem;
  max-width: 80rem;
  background-color: #fdfdfd;
  border-radius: 1.6rem;
  box-shadow: 0 3rem 5rem #eac8a6;
}

.App-heading-1 {
  font-size: 4rem;
  text-align: center;
}

p,
span {
  font-size: 1.6rem;
}

@media (max-width: 630px) {
  .App {
    padding: 5rem 2rem;
  }
  p,
  span {
    font-size: 1.4rem;
  }
}
